<nav class="navbar navbar-dark bg-dark">
  <ul style="display: flex ;">
    <li><a href="/" class="navbar-brand">Principal</a></li>
    <li><a href="/perguntar" class="navbar-brand">Perguntar</a></li>
  </ul>   
</nav>